apiVersion: apps/v1
kind: Deployment
metadata:
  name: project3
  labels:
    app.kubernetes.io/name: project3
    app.kubernetes.io/instance: project3
    app.kubernetes.io/component: service
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: project3
      app.kubernetes.io/instance: project3
      app.kubernetes.io/component: service
  template:
    metadata:
      labels:
        app.kubernetes.io/name: project3
        app.kubernetes.io/instance: project3
        app.kubernetes.io/component: service
    spec:
      containers:
      - name: project3
        image: 796973485913.dkr.ecr.eu-west-1.amazonaws.com/project3
        ports:
        - containerPort: 80
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20