name: Build and Deploy to EKS (gated)

on:
    push:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        environment: production
        permissions:
            id-token: write
            contents: read

        outputs:
            image_tag: ${{ steps.meta.outputs.image_tag }}

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Configure AWS credentials (OIDC)
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
                  aws-region: ${{ vars.AWS_REGION }}

            - name: Login to Amazon ECR
              uses: aws-actions/amazon-ecr-login@v2

            - name: Set image tag
              id: meta
              run: |
                  IMAGE_TAG=${GITHUB_SHA::7}
                  echo "image_tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT

            - name: Build and push image
              run: |
                  docker build -t ${{ vars.ECR_REPO }}:${{ steps.meta.outputs.image_tag }} .
                  docker push ${{ vars.ECR_REPO }}:${{ steps.meta.outputs.image_tag }}

    deploy:
        runs-on: ubuntu-latest
        needs: build
        environment: production # <-- approval gate comes from required reviewers
        permissions:
            id-token: write
            contents: read

        steps:
            - name: Configure AWS credentials (OIDC)
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
                  aws-region: ${{ vars.AWS_REGION }}

            - name: Update kubeconfig
              run: |
                  aws eks update-kubeconfig --region ${{ vars.AWS_REGION }} --name ${{ vars.EKS_CLUSTER_NAME }}

            - name: Deploy to EKS (set image + wait rollout)
              run: |
                  IMAGE_TAG=${{ needs.build.outputs.image_tag }}
                  kubectl set image deployment/${{ vars.DEPLOYMENT_NAME }} \
                    ${{ vars.CONTAINER_NAME }}=${{ vars.ECR_REPO }}:${IMAGE_TAG} \
                    -n ${{ vars.K8S_NAMESPACE }}
                  kubectl rollout status deployment/${{ vars.DEPLOYMENT_NAME }} -n ${{ vars.K8S_NAMESPACE }}
